.BreakLength {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 45px;
    border: solid;
    border-radius: 10px;
    background-color: #abb2bf;
    color: #282c34;
    font-family: monospace;
    font-size: 25px;
}

.TimeConfig {
    display: grid;
    grid-template-columns: 50px 200px 50px;
    justify-items: center;
    align-items: center;
}

.Controler {
    padding: 9px;
    font-size: 20px;
}